@model IEnumerable<Category>
    <a 
       asp-action="GetAllProduct"
       asp-controller="Product"
       asp-route-category="">
        Home
    </a>
    @foreach (Category category in Model) {
        <a 
           asp-action="GetAllProduct"
           asp-controller="Product"
           asp-route-category="@category.CategoryName"
           asp-route-page="1">
            @category.CategoryName
        </a>
    }
    <a asp-action="GetPage" asp-controller="ContactUs">Contact Us</a>