@model IEnumerable<Category>
    <a class="btn btn-block btn-default"
       asp-action="GetAllProduct"
       asp-controller="Product"
       asp-route-category="">
        Home
    </a>
    @foreach (Category category in Model) {
        <a class="btn btn-block @(category.CategoryName == ViewBag.SelectedCategory ? "btn-primary": "btn-default")"
           asp-action="GetAllProduct"
           asp-controller="Product"
           asp-route-category="@category.CategoryName"
           asp-route-page="1">
            @category.CategoryName
        </a>
}