@model CartRepository

<div class="">

    <a asp-controller="Cart" asp-action="ShowCart"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        Cart(@Model.ItemTotal)</a>
</div>
