@model EditProductViewModel
@{
    Layout = "_AdminLayout";
}

<form asp-action="EditProduct" method="post">
    <input type="hidden" asp-for="Product.ProductID" />
    <div class="form-group">
        <label asp-for="Product.ProductName"></label>
        <div><span asp-validation-for="Product.ProductName" class="text-danger"></span></div>
        <input asp-for="Product.ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Product.Discription"></label>
        <div><span asp-validation-for="Product.Discription" class="text-danger"></span></div>
        <textarea asp-for="Product.Discription" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Category"></label>
        <br />
        <select asp-for="Category" asp-items="Model.Categories"></select> 
    </div>
    <div class="form-group">
        <label asp-for="Supplier"></label>
        <br />
        <select asp-for="Supplier" asp-items="Model.Suppliers"></select>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <div><span asp-validation-for="Product.Price" class="text-danger"></span></div>
        <input asp-for="Product.Price" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>