<!DOCTYPE html>
<html ng-app="bagApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quality Bags</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" asp-href-include="/css/site.css" />
        <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script asp-src-include="lib/jquery/**/jquery.min.js"></script>
        <script asp-src-include="lib/jquery-validation/**/jquery.validate.min.js">
        </script>
        <script asp-src-include="lib/jquery-validation-unobtrusive/**/*.min.js"></script>


    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" asp-href-include="/css/site.css" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class='row' id='nav'>
            <div class='col-md-3' id='logo-text'>
                <a asp-action="GetProducts"
                   asp-controller="Admin"
                ><img src='~/images/logo.png'>Admin</a>
            </div>
            <div class='col-md-7' id='nav-button'>
                <a asp-action="GetProducts"
                   asp-controller="Admin">
                    Product
                </a>
                <a asp-action="GetCategories"
                   asp-controller="Admin">
                    Category
                </a>
                <a asp-action="GetSuppliers"
                   asp-controller="Admin">
                    Supplier
                </a>
                <a asp-action="GetOrders"
                   asp-controller="Admin">
                    Order
                </a>
                <a asp-action="GetUsers"
                   asp-controller="Admin">
                    Customer
                </a>
                
            </div>
            <div class='col-md-2' id='cart'>
                <a asp-controller="Account" asp-action="Logout">Log Out</a>
            </div>
        </div>

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
    </div>
</body>
</html>

