<!DOCTYPE html>
<html ng-app="bagApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bag Project</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <script src="~/lib/angularjs/angular.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/frontEnd/app/bag-list/bagList.module.js"></script>
        <script src="~/frontEnd/app/bag-list/bagList.component.js"></script>
        <script src="~/frontEnd/app/shared/RESTDataResourceFactory/dataSource.module.js"></script>
        <script src="~/frontEnd/app/shared/RESTDataResourceFactory/dataSource.service.js"></script>
        <script src="~/frontEnd/app/shared/shared.module.js"></script>

        <script src="~/frontEnd/app/app.module.js"></script>
        <script src="~/frontEnd/app/app.config.js"></script>

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" 
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"
                asp-fallback-src="~/lib/angularjs/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.3/angular-resource.js" 
                asp-fallback-src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.min.js"
                asp-fallback-src="~/lib/angular-route/angular-route.js"></script>
        
        <script src="~/frontEnd/app/shared/RESTDataResourceFactory/dataSource.module.js"></script>
        <script src="~/frontEnd/app/shared/RESTDataResourceFactory/dataSource.service.js"></script>
        <script src="~/frontEnd/app/shared/shared.module.js"></script>
        <script src="~/frontEnd/app/bag-list/bagList.module.js"></script>
        <script src="~/frontEnd/app/bag-list/bagList.component.js"></script>
        <script src="~/frontEnd/app/app.module.js"></script>
        <script src="~/frontEnd/app/app.config.js"></script>
    </environment>
</head>
<body>
        @RenderBody()     
</body>
</html>
